{% load cms_tags staticfiles sekizai_tags menu_tags %}
{% page_attribute "page_title" as title %}

<!doctype html>
<html xmlns:fb="http://ogp.me/ns/fb#" lang="es">
<head>
    <meta charset="utf-8" />
    
    <title>{{ title }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- <link rel="canonical" href="http://ffcmexico.com" /> -->

    <title>{% page_attribute page_title %}</title>

    <meta  name= "description"  content= " {%  page_attribute  meta_description  %} " /> 
    <meta  name= "keywords"  content= " {%  page_attribute  meta_keywords  %} " />

    {% block cabezera %}
    {% endblock cabezera %}


    {% render_block "css" %}

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="{{STATIC_URL}}package/tuktuk.css">
    <link rel="stylesheet" href="{{STATIC_URL}}package/tuktuk.theme.css">
    <!-- TUKTUK.WIDGETS -->
    <link rel="stylesheet" href="{{STATIC_URL}}package/tuktuk.icons.css">
    <link rel="stylesheet" href="{{STATIC_URL}}owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="{{STATIC_URL}}owl-carousel/owl.theme.css">
    <link rel="stylesheet" href="{{STATIC_URL}}owl-carousel/owl.transitions.css">
    <link rel="stylesheet" href="{{STATIC_URL}}css/estilos.css">
    <!--  <link rel="shortcut icon" href="http://ffcmexico.com/favicon.ico">   -->
    <!--  <link type="text/plain" rel="author" href="humans.txt">   -->
</head>
<body>
    {% cms_toolbar %}

    {% block contenido %}
    {% endblock contenido %}

    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="{{STATIC_URL}}package/tuktuk.js"></script>
    <script src="{{STATIC_URL}}package/jquery.fitvids.js"></script>
    <script src="{{STATIC_URL}}owl-carousel/owl.carousel.min.js"></script>
    <script src="{{STATIC_URL}}package/main.js"></script>

    {% block scripts %}
    {% endblock scripts %}
    {% render_block "js" %}
</body>
</html>